body {
  background-image:url("../images/bg.jpg");
}

div.box {
  border: 2px solid;
  background: white;
}

div#content {
  border: 2px solid;
  background: white;
  min-height: 40em;
}

div.border {
  padding-right: 4px;
  margin-right:  5px;
  border-right:  1px solid #444444;
}

div.border_left {
  padding-left: 4px;
  margin-left:  5px;
  border-left:  1px solid #444444;
}

div.colborder {
  padding-right: 24px;
  margin-right:  25px;
  border-right:  1px solid #444444;
}

div.fullheight {
  height: 100%;
}

#logo {
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}

div.right {
  float:  right;
  margin: 1.5em 0 1.5em 1.5em;
}

div.header {
  padding-bottom: 4px;
  margin-bottom:  5px;
  border-bottom:  1px solid #444444;
}

div.footer {
  padding-top: 4px;
  margin-top:  5px;
  border-top:  1px solid #444444;
}

a:focus, a:hover {
  color:#ffffff;
}

a:hover {
  background-color:#ffffff;
  color:#000000;
}

.warn {padding:.8em;margin-bottom:1em;border:2px solid #ddd;}
.warn {background:#FFF6BF;color:#514721;border-color:#FFD324;}
.notice {background:#E6EFC2;color:#264409;border-color:#C6D880;}
.warn a {color:#514721;}
.notice a {color:#264409;}

table.horizontal {
  border-collapse: collapse;
  border: none;
}

table.horizontal td.name {
  text-align: right;
	font-weight: bold;
  border: none;
  border-right: 1px dashed gray;
}

table.horizontal td.value {
  border: none;
}


div.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
} 

div.menu li {
  float: left;
  margin: 0 0.15em;
}

div.menu li a {
  background: #dddddd bottom left repeat-x;
  height: 2em;
  line-height: 2em;
  float: left;
  /*width: 9em;*/
  padding-left: 1em;
  padding-right: 1em;
  margin-right: 1em;
  display: block;
  border: 2px solid black;
  color: black;
  text-decoration: none;
  text-align: center;
}

div.menu li a.selected {
  background: #aabbcc bottom left repeat-x;
}

div.vmenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
} 
div.vmenu li {
  margin: 0 0.15em;
} 

div.boxheader {
  background: gray bottom left repeat-x;
  height: 2em;
  line-height: 2em;
  float: left;
  position: relative;
  top:-2.2em;
  left: 0.15em;
  display: block;
  border: 2px solid black;
  color: white;
  text-decoration: none;
  text-align: center;
  margin-right: 0;
  margin-bottom: 0;
  padding-left: 1em;
  padding-right: 1em;
}

div.boxcontent {
  margin-top: 2.6em;
  margin-bottom:-1.6em;
  position: relative;
  top:-1.6em;

}

div.right {
	float: right;
	margin: 0;
}

td {
  vertical-align: top;
}

td.club {
  vertical-align: top;
  background: #eeeeee;
  padding-left: 3em;
}


div.trikot {
  margin-left: 1em;
  margin-right: 1em;
}

div.trikot_female {
  width:116px; 
  height:173px; 
  background: url(../images/trikot_female.png) white;
}

div.trikot_male{
  width:118px; 
  height:173px; 
  background: url(../images/trikot_male.png) white;
}

div.trikot div.number {
  width:100%; 
  text-align:center;
  vertical-align: top;
  padding-top: 20px;
  font-weight: bold;
  font-size: 40px;
  font-family: comic sans ms;
}


