<div class="boxheader">Edit my Account</div>

<div class="boxcontent">

  <% semantic_form_for @user, :url => user_path, :html => { :multipart => true } do |f| %>
    <%= render :partial => "form", :object => f, :locals => { :name => "Update"} %>
  <% end %>


  <br /><%= link_to "My Profile", user_path %>

</div>

