<div class="boxheader">Register</div>

<div class="boxcontent">

  <% semantic_form_for @user, :url => users_path do |f| %>
    <%= render :partial => "registerform", :object => f, :locals => { :name => "Register" }  %>
  <% end %>

</div>
