<div class="boxheader">Role details</div>

<div class="boxcontent">
  <p>
    <b>Name:</b>
    <%=h @role.name %>
  </p>

  List:<br />

  <%= @role.users.collect { |u| link_to u.login, u }.join(", ") %>

  <hr>

  <%= link_to 'Edit', edit_role_path(@role) %> |
  <%= link_to 'Back', roles_path %>
</div>
